---
- name: Find all incident specs
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/../roles/incidents/files/specs"
    pattern: "incident_*.yaml"
    file_type: any
  register: documentation_incident_spec_files

- name: Parse identifiers from spec files
  ansible.builtin.set_fact:
    documentation_incidents_ids: "{{ (documentation_incidents_ids | default([])) + [spec.metadata.id] }}"
  loop: "{{ documentation_incident_spec_files.files }}"
  loop_control:
    label: "{{ item.path }}"
  vars:
    spec: "{{ lookup('ansible.builtin.file', item.path) | from_yaml }}"
