---
- name: Include Helm Release variables from Observability Tools role
  ansible.builtin.include_vars:
    file: ../tools/defaults/main/helm_releases.yaml

- name: Import OpenTelemetry Demo installation tasks
  ansible.builtin.import_tasks:
    file: install_otel_demo.yaml
  vars:
    configuration: |
      {{
        applications_configurations.otel_demo |
        combine((applications_required.otel_demo.configuration | default({})), recursive=true)
      }}
    helm_releases:
      collectors: "{{ tools_helm_releases.opentelemetry_collectors }}"
      opensearch: "{{ tools_helm_releases.opensearch }}"
      otel_demo: "{{ applications_helm_releases.otel_demo }}"
      prometheus: "{{ tools_helm_releases.prometheus }}"
  when:
    - applications_required.otel_demo is defined
    - applications_required.otel_demo.enabled
