---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: kubernetes-topology-recorder
    app.kubernetes.io/part-of: it-bench
  name: topology-recorder-kubernetes-scripts
data:
  deps: |
    {{ requirements_file_contents | indent(width=4) }}
  script: |
    {{ python_script_file_contents | indent(width=4) }}
