---
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ tools_instances.opentelemetry_collectors.names.jaeger }}
  namespace: {{ tools_instances.opentelemetry_collectors.namespace }}
spec:
  image: {{ container_image }}
  mode: deployment
  observability:
    metrics:
      enableMetrics: {{ tools_required.prometheus | default(true) }}
  podAnnotations:
    openshift.io/required-scc: restricted-v2
  ports:
    - name: jaeger
      port: 16686
  config:
    service:
      extensions:
        - jaeger_storage
        - jaeger_query
      pipelines:
        traces:
          receivers:
            - otlp
          exporters:
            - debug
            - jaeger_storage_exporter
    extensions:
      jaeger_query:
        base_path: /jaeger
        storage:
          traces: traces_store
      jaeger_storage:
        backends:
          traces_store:
            opensearch:
              server_urls:
                - http://opensearch-cluster-master.{{ tools_helm_releases.opensearch.namespace }}.svc.cluster.local:9200
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    exporters:
      debug: {}
      jaeger_storage_exporter:
        trace_storage: traces_store
