---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: jaeger-traces-recorder
    app.kubernetes.io/part-of: it-bench
  name: traces-recorder-jaeger-scripts
data:
  deps: |
    {{ requirements_file_contents | indent(width=4) }}
  script: |
    {{ python_script_file_contents | indent(width=4) }}
