---
metadata:
  complexity: Medium
  id: 38
  name: Misconfigured HPA Cost Increase
  platform: kubernetes
spec:
  environment:
    applications:
      otel_demo:
        enabled: true
        configuration:
          accounting:
            autoscaling: true
          ad:
            autoscaling: true
          cart:
            autoscaling: true
          checkout:
            autoscaling: true
          currency:
            autoscaling: true
          email:
            autoscaling: true
          fraud_detection:
            autoscaling: true
          frontend:
            autoscaling: true
          frontend_proxy:
            autoscaling: true
          image_provider:
            autoscaling: true
          kafka:
            autoscaling: true
          load_generator:
            users: 30
          payment:
            autoscaling: true
          postgres:
            autoscaling: true
          product_catalog:
            autoscaling: true
          quote:
            autoscaling: true
          recommendation:
            autoscaling: true
          shipping:
            autoscaling: true
          valkey_cart:
            autoscaling: true
    tools:
      category: finops
      selected:
        - kubernetes-metrics-server
        - kubernetes-topology-monitor
  faults:
    - custom:
        name: misconfigured-horizontal-pod-autoscaler
        misconfigured_horizontal_pod_autoscaler:
          autoscaler:
            name: fraud-detection
            namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
    - custom:
        name: misconfigured-horizontal-pod-autoscaler
        misconfigured_horizontal_pod_autoscaler:
          autoscaler:
            name: frontend
            namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
    - custom:
        name: misconfigured-horizontal-pod-autoscaler
        misconfigured_horizontal_pod_autoscaler:
          autoscaler:
            name: image-provider
            namespace: "{{ applications_helm_releases.otel_demo.namespace }}"
