---
metadata:
  complexity: Medium
  id: 37
  name: Valid Cost Increase
  platform: kubernetes
spec:
  environment:
    applications:
      otel_demo:
        enabled: true
        configuration:
          accounting:
            autoscaling: true
          ad:
            autoscaling: true
          cart:
            autoscaling: true
          checkout:
            autoscaling: true
          currency:
            autoscaling: true
          email:
            autoscaling: true
          fraud_detection:
            autoscaling: true
          frontend:
            autoscaling: true
          frontend_proxy:
            autoscaling: true
          image_provider:
            autoscaling: true
          kafka:
            autoscaling: true
          load_generator:
            users: 30
          payment:
            autoscaling: true
          postgres:
            autoscaling: true
          product_catalog:
            autoscaling: true
          quote:
            autoscaling: true
          recommendation:
            autoscaling: true
          shipping:
            autoscaling: true
          valkey_cart:
            autoscaling: true
    tools:
      category: finops
      selected:
        - kubernetes-metrics-server
        - kubernetes-topology-monitor
  faults: []
