---
agent_configuration:
  version: ""
  configuration:
    agents_config:
      provider: ""
      model: ""
      url: ""
      api_key: "" # pragma: allowlist secret
      api_version: ""
      seed: ""
      top_p: ""
      temperature: ""
      reasoning_effort: ""
      thinking: ""
      thinking_budget: 0
      max_tokens: 0
      model_embedding: ""
      url_embedding: ""
      api_version_embedding: ""
      god_mode: true
    tools_config:
      provider: ""
      model: ""
      url: ""
      api_key: "" # pragma: allowlist secret
      api_version: ""
      seed: ""
      top_p: ""
      temperature: ""
      reasoning_effort: ""
      thinking: ""
      thinking_budget: 0
      max_tokens: 0
    watsonx_config:
      wx_project_id: ""
    agent_analytics_sdk:
      git_token: ""
      git_username: ""
    # Not supported - defaults to all
    # enable_tools:
    #   - NL2Kubectl
    # # Toggling not supported at this time. Defaults to true
    # enable_tools_with_reflection: true
