---
github:
  it_bench:
    branch: main
    # ssh:
    #   private_key_passphrase: ""
    #   private_key_path: ""
    url: https://github.com/itbench-hub/ITBench-Scenarios.git
  llm_agent:
    branch: main
    # ssh:
    #   private_key_passphrase: ""
    #   private_key_path: ""
    url: https://github.com/itbench-hub/ITBench-SRE-Agent.git
