cluster:
  aws:
    region: us-east-1
    zones:
      - us-east-1a
  kubernetes_version: 1.32.4
  name_prefix: development
  networking:
    mode: cilium
  nodes:
    control:
      count: 1
      instance_type: m5.xlarge
    worker:
      count: 3
      instance_type: m5.xlarge
  s3:
    bucket_name: ""
  ssh:
    public_key_path: ""
