---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: prometheus-alert-recorder
    app.kubernetes.io/part-of: it-bench
  name: alerts-recorder-prometheus-scripts
data:
  deps: |
    {{ requirements_file_contents | indent(width=4) }}
  script: |
    {{ python_script_file_contents | indent(width=4) }}
