---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: prometheus-alert-recorder
    app.kubernetes.io/part-of: it-bench
  name: alerts-recorder-prometheus-token
data:
  token: {{ prometheus_bearer_token }}
