---
- name: Install Kubernetes Topology Monitor
  kubernetes.core.helm:
    chart_ref: "{{ playbook_dir }}/../tools/kubernetes-topology-monitor/charts/kubernetes-topology-monitor"
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    release_name: "{{ helm_release.name }}"
    release_namespace: "{{ helm_release.namespace }}"
    release_state: present
    timeout: 10m0s
    wait: true
