---
- name: Import tasks to approve pending certificate requests
  ansible.builtin.include_role:
    name: cluster
    tasks_from: approve_certificate_requests
  vars:
    cluster_files:
      kubeconfig: "{{ tools_cluster.kubeconfig }}"
  when:
    - tools_cluster.provider == 'kind'

- name: Import Prometheus installation tasks
  ansible.builtin.import_tasks:
    file: install_prometheus.yaml
  vars:
    helm_release: "{{ tools_helm_releases.prometheus }}"
  when:
    - tools_required.prometheus or tools_required.opencost

- name: Import Clickhouse installation tasks
  ansible.builtin.import_tasks:
    file: install_clickhouse.yaml
  vars:
    helm_release: "{{ tools_helm_releases.clickhouse_operator }}"
    instance: "{{ tools_instances.clickhouse }}"
  when:
    - tools_required.clickhouse or tools_required.opentelemetry

- name: Import OpenSearch installation tasks
  ansible.builtin.import_tasks:
    file: install_opensearch.yaml
  vars:
    helm_release: "{{ tools_helm_releases.opensearch }}"
  when:
    - tools_required.opensearch or tools_required.jaeger

- name: Import OpenTelemetry installation tasks
  ansible.builtin.import_tasks:
    file: install_opentelemetry.yaml
  when:
    - tools_required.opentelemetry or tools_required.jaeger

- name: Import OpenCost installation tasks
  ansible.builtin.import_tasks:
    file: install_opencost.yaml
  vars:
    helm_release: "{{ tools_helm_releases.opencost }}"
  when:
    - tools_required.opencost

- name: Import Ingress installation tasks
  ansible.builtin.import_tasks:
    file: install_ingress.yaml
  vars:
    helm_release: "{{ tools_helm_releases.ingress }}"
  when:
    - tools_required.ingress

- name: Import Istio installation tasks
  ansible.builtin.import_tasks:
    file: install_istio.yaml
  vars:
    helm_release: "{{ tools_helm_releases.istio.components }}"
  when:
    - tools_required.istio

- name: Import Chaos Mesh installation tasks
  ansible.builtin.import_tasks:
    file: install_chaos_mesh.yaml
  vars:
    helm_release: "{{ tools_helm_releases.chaos_mesh }}"
  when:
    - tools_required.chaos_mesh

- name: Import Kubernetes Metrics Server installation tasks
  ansible.builtin.import_tasks:
    file: install_kubernetes_metrics_server.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_metrics_server }}"
  when:
    - tools_required.kubernetes_metrics_server
    - tools_cluster.platform == "kubernetes"

- name: Import Kubernetes Topology Monitor installation tasks
  ansible.builtin.import_tasks:
    file: install_kubernetes_topology_monitor.yaml
  tags:
    - install_tools
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_required.kubernetes_topology_monitor
