---
- name: Import Prometheus reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_prometheus.yaml
  vars:
    helm_release: "{{ tools_helm_releases.prometheus }}"
  when:
    - tools_required.prometheus or tools_required.opencost

- name: Import OpenSearch reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_opensearch.yaml
  vars:
    helm_release: "{{ tools_helm_releases.opensearch }}"
  when:
    - tools_required.opensearch or tools_required.jaeger

- name: Import OpenTelemetry reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_opentelemetry.yaml
  when:
    - tools_required.opentelemetry or tools_required.jaeger

- name: Import Chaos Mesh reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_chaos_mesh.yaml
  vars:
    helm_release: "{{ tools_helm_releases.chaos_mesh }}"
  when:
    - tools_required.chaos_mesh

- name: Import Clickhouse reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_clickhouse.yaml
  vars:
    instance: "{{ tools_instances.clickhouse }}"
  when:
    - tools_required.clickhouse or tools_required.opentelemetry

- name: Import Kubernetes Metrics Server reinitialization tasks
  ansible.builtin.import_tasks:
    file: reinit_kubernetes_metrics_server.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_metrics_server }}"
  when:
    - tools_required.kubernetes_metrics_server
    - tools_cluster.platform == "kubernetes"

- name: Delete events across namespaces
  ansible.builtin.command:
    argv:
      - kubectl
      - delete
      - events
      - --all-namespaces
      - --all
      - --ignore-not-found=true
      - --kubeconfig={{ tools_cluster.kubeconfig | ansible.builtin.expanduser }}
  register: tools_delete_events_result
  changed_when: tools_delete_events_result.rc == 0
  failed_when: tools_delete_events_result.rc not in [0, 1]
  when:
    - tools_cluster.platform == "kubernetes"

- name: Import Kubernetes Topology Monitor uninstallation task
  ansible.builtin.import_tasks:
    file: uninstall_kubernetes_topology_monitor.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_required.kubernetes_topology_monitor

- name: Import Kubernetes Topology Monitor installation task
  ansible.builtin.import_tasks:
    file: install_kubernetes_topology_monitor.yaml
  vars:
    helm_release: "{{ tools_helm_releases.kubernetes_topology_monitor }}"
  when:
    - tools_required.kubernetes_topology_monitor
