---
- name: Check for OpenTelemetry Collector CRD
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: opentelemetrycollectors.opentelemetry.io
  register: tools_opentelemetry_collector_crd_info

- name: Check for OpenTelemetry Collectors namespace
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Namespace
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ tools_instances.opentelemetry_collectors.namespace }}"
  register: tools_opentelemetry_namespace_info

- name: Reinitialize all active OpenTelemetry Collectors
  when:
    - tools_opentelemetry_namespace_info is defined
    - tools_opentelemetry_namespace_info.resources | length == 1
    - tools_opentelemetry_collector_crd_info is defined
    - tools_opentelemetry_collector_crd_info.resources | length == 1
  block:
    - name: Delete all pods in the OpenTelemetry Collector namespace
      kubernetes.core.k8s:
        api_version: v1
        delete_all: true
        kind: Pod
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: "{{ tools_opentelemetry_namespace_info.resources[0].metadata.name }}"
        state: absent

    - name: Fetch all OpenTelemetry Collectors
      kubernetes.core.k8s_info:
        api_version: opentelemetry.io/v1beta1
        kind: OpenTelemetryCollector
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        namespace: "{{ tools_opentelemetry_namespace_info.resources[0].metadata.name }}"
      register: tools_opentelemetry_collectors_info

    - name: Wait for all OpenTelemetry Collectors to reach ready state
      kubernetes.core.k8s_info:
        api_version: "{{ resource.apiVersion }}"
        kind: "{{ resource.kind }}"
        kubeconfig: "{{ tools_cluster.kubeconfig }}"
        name: "{{ resource.metadata.name }}"
        namespace: "{{ resource.metadata.namespace }}"
        wait: true
      loop: "{{ tools_opentelemetry_collectors_info.resources }}"
      loop_control:
        label: opentelemetrycollector/{{ resource.metadata.name }}
        loop_var: resource
      register: tools_opentelemetry_collector_info
      until:
        - tools_opentelemetry_collector_info.resources[0].status.scale is defined
        - tools_opentelemetry_collector_info.resources[0].status.scale.statusReplicas | split('/') | unique | length == 1
      retries: 10
      delay: 30
      when:
        - tools_opentelemetry_collectors_info is defined
