---
- name: Retrieve Jaeger service info
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Service
    kubeconfig: "{{ tools_cluster.kubeconfig }}"
    name: "{{ tools_instances.opentelemetry_collectors.names.jaeger }}-collector"
    namespace: "{{ tools_instances.opentelemetry_collectors.namespace }}"
  register: tools_jaeger_service_info

- name: Construct Jaeger in-cluster endpoints
  ansible.builtin.set_fact:
    tools_jaeger_collector_otlp_grpc_endpoint: "{{ tools_jaeger_service_info.resources[0].metadata.name }}.{{
      tools_jaeger_service_info.resources[0].metadata.namespace }}.svc.cluster.local:4317"
    tools_jaeger_querier_endpoint: http://{{ tools_jaeger_service_info.resources[0].metadata.name }}.{{
      tools_jaeger_service_info.resources[0].metadata.namespace }}.svc.cluster.local:16686/jaeger
  when:
    - tools_jaeger_service_info is defined
    - tools_jaeger_service_info.resources | length == 1
