---
- identifier: node-undeploy-tools
  extra_data:
    incident_id: {{ scenario_id }}
  related:
    credentials:
      - name: Cluster-{{ cluster_index + 1 }}-Kubeconfig
{% if requires_aws_credentials %}
      - name: AWS
{% endif %}
  unified_job_template:
    name: Undeploy-Tools
    type: job_template
